<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天氣資料展示</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">天氣資料</h1>
        <div class="table-responsive">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>
    </div>
</body>
</html>
